*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    min-width: 500px;
    width: 1000px; 
    margin: auto;
    padding: 20px 10px;
}

#logo{
    width: 100px;
}

.cont-logo{
    width: 110px;
    border-right: 1px solid lightgray;
}

.div-header{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: white;
}

ul.menu li{
    padding: 20px 0 10px 0;
    display: inline-block;
}

.main-top{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-image: url("./img/banner.jpg");
    background-position: center;  /* */
    position: relative;
    /* background-color: white; */
}

.content-text-Mtop{
    width: 470px;
    height: 60px;
    position: absolute;
    left: 40px;
    bottom: 100px;
    color: black;
}

.main-header{    
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    background-color: white;
    float: left; 
}

.main-down{
    padding-bottom: 10px;
    margin-bottom: 10px;
    clear: both;
    width: 100%;
    background-color: white;
}

.aside-column{
    height: 400px;
    background-color: white;
    width: calc((50% / 2) - 10px); 
    float: left; 
}

.img-column-left, .img-column-right{
    width: 100%;
    height: 45%;
    background-color: lightslategrey;
    /* border-radius: 1px  black 5%; */
    /* background-position: auto; */
    background-size: contain;
    background-repeat: no-repeat;
}

.img-column-left{
    background-image: url("./img/img-1.jpg");
}

.Co-left{
    margin: 0 10px 10px 0; 
}

.img-column-right{
    background-image: url("./img/img-3.jpg") ;
    /* background-position-y: center; */
} 

.middle-column{
    float: left;
    margin-right: 10px; 
    width: 50%;
    height: 400px;
} 

.img-middle-column{
    width: 100%;
    height: 45%;
    background-image: url("./img/banner-2.jpg");
    background-size: cover;
    background-color: lightslategrey;
}

.div-footer{
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
} 

.div-footer #notes, #cuoricino{   
    font-size: 15px;
}

#cuoricino{
    color: red;
}
/* 
.img-column-left, .img-column-right,
.img-middle-column{
    background-color: lightslategrey;; 
    border-radius: 5%;
} */

h3, h2{
    margin: 8px 0 8px 0;
    color: rgb(26, 23, 23)
}

main > .lay-hover{
    background-color: rgba(0,0,0,0.7);;
}