*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: grey;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    min-width: 500px;
    width: 1000px; 
    margin: auto;
    padding: 20px 10px;
}

#logo{
    width: 100px;
}

.cont-logo{
    width: 110px;
    border-right: 1px solid lightgray;
}

.div-header{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: white;
}

ul.menu li{
    text-transform: capitalize;
    padding: 20px 20px 10px 0;
    display: inline-block;
}

main .main-top{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-image: url("./img/banner.jpg");
    background-position: center; 
}

main .content-text-Mtop{
    width: 470px;
    height: 60px;
    position: absolute;
    left: 40px;
    bottom: 100px;
    color: white;
}

.main-header{    
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    background-color: white;
    float: left;
}

.main-header > h2{
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-down{
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
}

.aside-column{
    height: 400px;
    background-color: white;
    width: calc((50% / 2) - 10px);     
}

.main-top, .aside-column, .middle-column{
    position: relative;
    float: left;
}

.middle-column{   
    margin-right: 10px; 
    width: 50%;
    height: 400px;   
    position: relative;
} 

.img-column-left, .img-column-right{
    width: 100%;
    height: 45%;
}

.img-column-left{
    background-image: url("./img/img-1.jpg");
}

.Co-left{
    margin: 0 10px 10px 0; 
}

.img-column-right{
    background-image: url("./img/img-3.jpg") ;
} 

.img-middle-column{
    width: 100%;
    height: 45%;
    background-image: url("./img/banner-2.jpg");
}

.div-footer{
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
} 

.div-footer #notes, #cuoricino{   
    font-size: 15px;
}

#cuoricino{
    color: red;
}

.img-column-left, .img-column-right,
.img-middle-column, .main-top{ 
    background-size: cover;
    border-radius: 15px;
} 

h3, h2{
    margin: 8px 0 8px 0;
    color: rgb(26, 23, 23)
}

.lay-hover-main, #lay-hover-column{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.2);
}

.lay-hover-main{
    height: 300px;   
} 

#lay-hover-column{
    height: 45%;
} 